$bg: #202020;
$text: #eeeeee;
$secondary-text: #eeeeeeb3;
$primary: #313131;
$secondary: #202020;

$margin: 2rem;
$padding: 2rem;
$navbar-height: 3em;
$sidebar-width: 25rem;

@mixin main {
  body {
    background: $bg;
    background-attachment: fixed;
    // height: 100vh;
    margin: 0;
    // overflow: hidden;
  }
}

@mixin button {
  font-family: "Catamaran", Sans-Serif;
  color: $secondary-text;
  border-radius: 12px;
  transition: 0.1s;
  text-decoration: none;
  height: inherit;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: medium;
  &:hover {
    color: $text;
    transform: scale(1.1);
  }
}
