$bg: #202020;
$text: #eeeeee;
$secondary-text: #eeeeeeb3;
$surface: #313131;
$primary: #4670c2;
$secondary: #6cdbc3;

$margin: 2rem;
$padding: 1rem;
$navbar-height: 2.5em;
$sidebar-width: 20rem;
$search-width: 50rem;
$border-radius: 0.5rem;
$big-font: "Catamaran", Sans-Serif;
$main-font: "Merriweather Sans", sans-serif;
$shadow: 0 0 20px 5px black;

@mixin main {
  body {
    background: $bg;
    margin: 0;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.button {
  font-family: $big-font;
  color: $secondary-text;
  border-radius: $border-radius;
  transition: 0.1s;
  text-decoration: none;
  height: inherit;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: medium;
  &:hover {
    color: $text;
    transform: scale(1.1);
  }
}

.main-button {
  background: linear-gradient(45deg, $primary, $secondary);
  color: $text;
  padding: 0 0.5rem;
  &:hover {
    box-shadow: 0 0 5px $primary;
  }
}
