$bg: #181818;
$navbar: #202020;
$text: #eeeeee;
$unfocused: #505050;
$margin: 2rem;
$padding: 2rem;
$navbar-height: 3em;

@mixin main {
  body {
    background: $bg;
    background-attachment: fixed;
    height: auto;
    margin: 0;
  }
}

@mixin button {
  font-family: "Catamaran", Sans-Serif;
  color: $unfocused;
  border-radius: 12px;
  transition: 0.1s;
  text-decoration: none;
  height: inherit;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  &:hover {
    color: $text;
    transform: scale(1.1);
  }
}
