@import "common";
@import "media_queries";
@include main;

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .form-container {
   @include form;  
  }
}
