@import "tile";
@import "common";
@import "media_queries";
@import "navbar";
@include main;

.button {
  @include button;
}
.main-button {
  @include main-button;
}
.hover {
  @include hover-effect;
}

body {
  .modal {
    @include form;
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
    #file-upload {
      input {
        &::file-selector-button {
          display: none;
        }
      }
    }
    .buttons {
      display: flex;

      .submit {
        margin-left: auto;
      }
    }
  }
  main {
    display: flex;
    justify-content: center;
    height: calc(100vh - #{$navbar-height});
    overflow-y: scroll;
    padding-top: $margin;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
    #posts {
      display: flex;
      flex-direction: column;
      gap: $margin;
      max-width: 60rem;
      min-width: 0;
      width: 100%;
      .loading {
        @include loading;
        justify-content: center;
        padding-bottom: $margin;
        display: none;
      }
      .page {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        align-items: stretch;
        padding-bottom: $margin;
      }
      .page:not(:nth-last-child(2)) {
        border-bottom: 2px dashed $surface;
      }
    }
    #editor {
      width: 100%;
      color: $text;
      font-family: $main-font;
      outline: none;
      .pell-content {
        padding: 0 $padding;
        min-height: 10rem;
        outline: none;
      }
      .pell-actionbar {
        display: flex;
        background: $bg;
        margin-bottom: 1rem;
        height: 3rem;
        .pell-button {
          flex: 1 1 0px;
          background: none;
          border: none;
          color: $text;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
    #sidebar-left {
      .section:first-child {
        li {
          padding: $padding;
        }
      }
    }
    .sidebar {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      #top {
        font-family: $big-font;
        overflow-y: auto;
      }
      #user-boards {
        overflow-y: auto;
      }
      .panel {
        display: flex;
        flex-direction: column;
        color: $secondary-text;
        width: 100%;
        max-height: inherit;
        .section {
          @include section;
          .button {
            padding: $padding;
          }
        }
        #info {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: $padding;
          #board-img {
            position: relative;
            .edit {
              position: absolute;
              right: -0.5rem;
              top: -0.5rem;
              transition: 0.1s;
              &:hover {
                color: $text;
              }
            }
            #icon {
              height: 5rem;
              width: 5rem;
              object-fit: cover;
              border-radius: $img-radius;
              border: 0.25rem solid $bg;
              background-color: #282828;
            }
          }
        }

        #options {
          label[for="delete"] {
            color: #dd5353;
          }
          a {
            justify-content: center;
          }
          form {
            display: flex;
            justify-content: center;
            label {
              display: contents;
            }
            input {
              border: none;
              background: none;
              color: inherit;
              font-family: inherit;
              font-size: inherit;
              padding: 0;
            }
          }
        }
      }
    }
    @include for_breakpoint(desktop) {
      .sidebar {
        max-width: $sidebar-width;
        min-width: 15rem;
        max-height: calc(100% - 1rem);
        margin: 0 $margin;
        position: sticky;
        top: 0;
      }
    }
    @include for_breakpoint(mobile tablet) {
      overflow-x: clip;
      gap: $padding;

      .sidebar {
        top: 0;
        position: sticky;
        transition: 0.3s;
        &#sidebar-left {
          visibility: hidden;
          margin-left: -100%;
        }
        &#sidebar-right {
          visibility: hidden;
          margin-right: -100%;
        }
      }
      &.left #sidebar-left{
          visibility: visible;
      }
      &.right #sidebar-right{
          visibility: visible;
      }
      #posts {
        margin: 0;
      }
      // flex-direction: column-reverse;
      // gap: $margin;
    }
  }
}

@keyframes to-left {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -100%;
  }
}

@keyframes to-right {
  from {
    margin-right: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.modal {
  &[open] ~ * {
    overflow: hidden;
    filter: blur(10px) !important;
    transition: 0.5s;
  }
  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
}
