@import "tile";
@import "common";
@import "navbar";
@import "media_queries";
@include main;
body {
 
  main {
    display: flex;
    #posts {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      color: #ff00ff;
      max-width: 110rem;
    }
    #editor {
      width: 100%;
      color: $text;
      font-family: "Merriweather Sans", sans-serif;
      outline: none;
      .pell-content {
        padding: 0 $padding;
        min-height: 10rem;
        outline: none;
      }
      .pell-actionbar {
        display: flex;
        background: $bg;
        margin-bottom: 1rem;
        height: 3rem;
        .pell-button {
          flex: 1 1 0px;
          background: none;
          border: none;
          color: $text;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
    .sidebar {
      display: flex;
      flex-direction: column;
      align-items: center;
      #top {
        font-family: $big-font;
        a {
          text-decoration: none;
          color: $text;
        }
        ol {
          margin: 0;
          padding: 0 $padding;
        }
        li {
          color: $text;
          .entry {
            display: inline-flex;
            vertical-align: middle;
            align-items: center;
            gap: $padding;
            padding: 0.5rem;
            width: 100%;
            img {
              width: 3rem;
              aspect-ratio: 1;
              object-fit: cover;
              border-radius: 360px;
            }
            .name {
              flex: 1;
            }
            .count {
              float: left;
            }
          }
        }
      }
      .panel {
        display: flex;
        flex-direction: column;
        background: $surface;
        border-radius: $border-radius;
        box-shadow: $shadow;
        color: $secondary-text;
        .section {
          padding: $padding;
          &:not(:first-child) {
            border-top: 1px solid $bg;
          }
          h2 {
            font-family: $big-font;
	    text-align: center;
            margin: 0;
          }
          p {
            margin: 0;
            font-family: $main-font;
          }
        }
        #info {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          #icon {
            height: 5rem;
            width: 5rem;
            object-fit: cover;
            border-radius: 360px;
            border: 0.5rem solid $bg;
          }
        }

        #options {
          a {
            justify-content: center;
          }
          form {
            display: flex;
            justify-content: center;
            input {
              border: none;
              width: 100%;
              background: none;
            }
          }
        }
      }
    }
    @include for_breakpoint(desktop) {
      // align-items: stretch;
      .sidebar {
        max-width: $sidebar-width;
        width: 100%;
        height: 100%;
        margin: 0 $margin;
        .panel {
          width: $sidebar-width;
          position: fixed;
        }
      }
    }
    @include for_breakpoint(mobile tablet) {
      flex-direction: column-reverse;
    }
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  justify-content: center;
  align-items: center;
  display: none;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100vw;
  height: 100vh;
  &.active {
    z-index: 10;
    display: flex;
  }
  &.active ~ div {
    overflow: hidden;
    filter: blur(10px);
    transition: 0.5s;
  }
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  .dot {
    width: 10px;
    height: 10px;
    margin: 0 2px;
    display: inline-block;
    border-radius: 50%;
    animation: loader-scale 1.4s infinite ease-in-out both;
    background: #525252;
  }
  .dot:nth-child(2) {
    animation-delay: 0.16s;
  }
  .dot:nth-child(3) {
    animation-delay: 0.32s;
  }
}
@keyframes loader-scale {
  0%,
  80%,
  100% {
    transform: scale(1);
  }

  40% {
    transform: scale(0);
  }
}

@keyframes scale-up {
  100% {
    transform: scaleY(1);
  }

  0% {
    transform: scale(0);
  }
}
