@import "common";
@import "media_queries";

#topnav {
  filter: drop-shadow(0 0 0.75rem black);
  background-color: $primary;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  align-self: stretch;
  position: sticky;
  height: $navbar-height;
  padding: 0.5rem;
  gap: 2rem;
  margin-bottom: $margin;
  z-index: 9;
  top: 0;
  transition: 0.1s;
  #title {
    flex: 1;
    z-index: 9;
    a {
      color: $text;
      font-family: "Catamaran", sans-serif;
      font-size: xx-large;
      text-decoration: none;
    }
  }
  #search {
   

    background-color: $secondary;
    border-radius: 360px;
    display: flex;
    flex: 3;
    color: $secondary-text;
    transition: 0.1s;
    z-index: 9;
    &:focus-within {
      color: $text;
    }
    input {
      background-color: transparent;
      color: inherit;
      border: none;
      flex: 1;
      &:focus {
        outline: none;
      }
    }
    label {
      aspect-ratio: 1;
    }
    button {
      border: none;
      background: transparent;
      color: inherit;
      height: 100%;
      svg {
        height: 100%;
        box-sizing: border-box;
        padding: 0.5rem;
      }
    }
  }
  #login {
    display: flex;
    justify-content: end;
    align-items: center;
    height: inherit;
    color: $text;
    z-index: 9;
    gap: 1rem;
    flex: 1;
    #username {
      float: left;
      color: $text;
      font-family: "Catamaran", Sans-Serif;
    }
    a {
      @include button;
    }

    #pfp {
      height: 90%;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 360px;
      box-shadow: 0 0 20px black;
    }
     @include for_breakpoint(mobile) {
	  display: none;
	}
  }
  #dropdown-button {
    position: absolute;
    bottom: -$navbar-height;
    height: inherit;
    color: $bg;
    .dropdown-bg {
      transition: 0.1s;
      g {
        transition: 0.1s;
        color: $secondary-text;
      }
      z-index: 8;
    }
    z-index: 9;
  }
  * {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: inherit;
  }
}
