@import "common";
#topnav {
  filter: drop-shadow(0 0 0.75rem black);
  background-color: $bg;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  align-self: stretch;
  position: sticky;
  height: $navbar-height;
  padding: 12px;
  gap: 12px;
  z-index: 9;
  top: -$navbar-height - 1em;
  transition: 0.1s;
  #title {
    flex: 1;
    z-index: 9;
    a {
      color: $text;
      font-family: "Catamaran", sans-serif;
      font-size: xx-large;
      text-decoration: none;
    }
  }
  #search {
    background-color: #303030;
    border-radius: 12px;
    display: flex;
    flex: 3;
    color: $unfocused;
    transition: 0.1s;
    z-index: 9;
    &:focus-within {
      color: $text;
    }
    svg {
      scale: 0.6;
    }
    input {
      background-color: transparent;
      color: inherit;
      border: none;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }
  #login {
    display: flex;
    justify-content: end;
    align-items: center;
    height: inherit;
    color: $text;
    z-index: 9;
    gap: 1rem;
    flex: 1;
    #username {
      float: left;
      color: $text;
      font-family: "Catamaran", Sans-Serif;
    }
    a {
      @include button;
    }

    #pfp {
      height: 90%;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 360px;
      box-shadow: 0 0 20px black;
    }
    svg {
      height: inherit;
      scale: 0.6;
    }
  }
  #dropdown-button {
    position: absolute;
    bottom: -$navbar-height;
    height: inherit;
    color: $bg;
    .dropdown-bg {
      transition: 0.1s;
      g {
        transition: 0.1s;
        color: $unfocused;
      }
      z-index: 8;
    }
    z-index: 9;
  }
  * {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: inherit;
  }
  &:hover {
    top: 0;
  }
  &::after {
    content: "";
    position: absolute;
    height: $navbar-height + 5em;
    width: 100%;
    z-index: 8;
  }
  &.visible {
    #dropdown-button g {
      transform: scaleY(-1);
      transform-origin: center;
    }
    top: 0;
  }
}
