@import "common";
.tile {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 60rem;
  .header {
    display: flex;
    .data {
      border-radius: $border-radius 2px 2px $border-radius;
      background-color: $surface;
      flex: 1;
      padding: $padding;
      .info {
        display: flex;
        gap: 1rem;
        color: $text;
        font-family: $big-font;
	border-bottom: 1px solid $bg;
        .pfp {
          height: 3rem;
          aspect-ratio: 1;
          object-fit: cover;
          border-radius: 360px;
          box-shadow: 0 0 20px black;
        }
      }
      .text {
        color: $secondary-text;
        font-family: $main-font;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        white-space: normal;
      }
    }
    .options {
      background-color: $surface;
      border-radius: 2px $border-radius $border-radius 2px;
      padding: $padding;
      margin-left: 1px;
      float: right;
      display: flex;
      flex-direction: column;
      svg {
        height: 2rem;
      }
    }
  }
  img {
    object-fit: cover;
    max-height: 30rem;
  }
}
