@import "common";
@import "media_queries";
.tile {
  display: flex;
  flex-direction: column;
  .src {
    color: $secondary-text;
    font-family: $big-font;
    text-decoration: none;
    font-size: smaller;
    margin-bottom: 0.25rem;
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: $img-radius;
      border: 0.25rem solid $bg;
      box-sizing: border-box;
    }
  }
  .header {
    display: flex;
    .data {
      border-radius: $border-radius $border-inner $border-inner $border-radius;
      background-color: $surface;
      min-width: 0;
      flex: 1;
      border-right: $border;
      .info {
        display: flex;
        gap: 1rem;
        color: $text;
        font-family: $big-font;
        border-bottom: $border;
        padding: calc($padding/2) $padding;
	text-decoration: none;
        align-items: center;
        .title {
	  flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
	  white-space: nowrap;
        }
        .time {
          color: $secondary-text;
	  margin-left: auto;
        }
        .pfp {
          height: 3rem;
          aspect-ratio: 1;
          object-fit: cover;
          border-radius: $img-radius;
          border: 0.25rem solid $bg;
	  background-color: #282828;
          // box-shadow: 0 0 20px black;
        }
      }
      .text {
        border-top: $border;
        padding: $padding;
        pre {
          color: $secondary-text;
          font-family: $main-font;
          margin: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box !important;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          white-space: normal;
        }
      }
    }
    .options {
      background-color: $surface;
      border-radius: $border-inner $border-radius $border-radius $border-inner;
      // margin-left: 1px;
      border-left: $border;
      float: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: clip;
      input{
	display: none;
      }
      svg {
        padding: $padding;
        flex: 1;
        height: 2rem;
        color: $secondary-text;
      }
    }
    &:not(:last-child) {
      .options {
        border-radius: $border-inner $border-radius 0 0;
      }
      .data {
        border-radius: $border-radius $border-inner 0 0;
      }
    }
  }
  img {
    object-fit: cover;
    max-height: 30rem;
    border-radius: 0 0 $border-radius $border-radius;
  }
}
