.button {
  font-family: "Catamaran", Sans-Serif;
  color: #eeeeeeb3;
  border-radius: 0.5rem;
  transition: 0.1s;
  text-decoration: none;
  height: inherit;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: medium; }
  .button:hover {
    color: #eeeeee;
    transform: scale(1.1); }

.main-button {
  background: linear-gradient(45deg, #4670c2, #6cdbc3);
  color: #eeeeee;
  padding: 0 0.5rem; }
  .main-button:hover {
    box-shadow: 0 0 5px #4670c2; }

.tile {
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px black; }
  .tile .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #303030;
    box-shadow: 0 0 20px 5px black;
    z-index: 2; }
    .tile .header .info {
      display: flex;
      gap: 1rem; }
      .tile .header .info .pfp {
        height: 3rem;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 360px;
        box-shadow: 0 0 20px black; }
      .tile .header .info p {
        height: 3rem;
        margin: 0;
        display: flex;
        align-items: center;
        font-family: "Catamaran", Sans-Serif;
        color: #eeeeee;
        font-size: larger; }
    .tile .header pre {
      font-family: "Merriweather Sans", sans-serif;
      color: #eeeeeeb3;
      white-space: pre-wrap;
      mask-image: linear-gradient(black, transparent);
      -webkit-mask-image: linear-gradient(black, transparent);
      max-height: 5rem;
      margin: 0; }
  .tile img {
    object-fit: cover;
    max-height: 30rem; }

.button {
  font-family: "Catamaran", Sans-Serif;
  color: #eeeeeeb3;
  border-radius: 0.5rem;
  transition: 0.1s;
  text-decoration: none;
  height: inherit;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: medium; }
  .button:hover {
    color: #eeeeee;
    transform: scale(1.1); }

.main-button {
  background: linear-gradient(45deg, #4670c2, #6cdbc3);
  color: #eeeeee;
  padding: 0 0.5rem; }
  .main-button:hover {
    box-shadow: 0 0 5px #4670c2; }

.button {
  font-family: "Catamaran", Sans-Serif;
  color: #eeeeeeb3;
  border-radius: 0.5rem;
  transition: 0.1s;
  text-decoration: none;
  height: inherit;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: medium; }
  .button:hover {
    color: #eeeeee;
    transform: scale(1.1); }

.main-button {
  background: linear-gradient(45deg, #4670c2, #6cdbc3);
  color: #eeeeee;
  padding: 0 0.5rem; }
  .main-button:hover {
    box-shadow: 0 0 5px #4670c2; }

#topnav {
  filter: drop-shadow(0 0 0.75rem black);
  background-color: #313131;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: stretch;
  position: sticky;
  height: 2.5em;
  padding: 0.5rem;
  gap: 2rem;
  margin-bottom: 2rem;
  z-index: 9;
  top: 0;
  transition: 0.1s; }
  #topnav #title {
    flex: 1;
    z-index: 9; }
    #topnav #title a {
      color: #eeeeee;
      font-family: "Catamaran", Sans-Serif;
      font-size: x-large;
      text-decoration: none; }
  #topnav #search {
    background-color: #202020;
    border-radius: 0.5rem;
    display: flex;
    flex: 3;
    color: #eeeeeeb3;
    transition: 0.1s;
    z-index: 9;
    max-width: 50rem;
    gap: 0.5rem; }
    #topnav #search:focus-within {
      color: #eeeeee; }
    #topnav #search #search-space {
      border: none;
      background: none;
      color: #eeeeeeb3;
      font-family: "Catamaran", Sans-Serif;
      border-right: 1px solid #313131;
      width: 4.5rem;
      padding: 0.5rem;
      text-align: center; }
    #topnav #search input {
      background-color: transparent;
      font-family: "Catamaran", Sans-Serif;
      color: inherit;
      border: none;
      flex: 1; }
      #topnav #search input:focus {
        outline: none; }
    #topnav #search label {
      aspect-ratio: 1; }
    #topnav #search button {
      border: none;
      background: transparent;
      color: inherit;
      height: 100%; }
      #topnav #search button svg {
        height: 100%;
        box-sizing: border-box;
        padding: 0.5rem; }
  #topnav #login {
    display: flex;
    justify-content: end;
    align-items: center;
    height: inherit;
    color: #eeeeee;
    z-index: 9;
    gap: 1rem;
    flex: 1; }
    #topnav #login a #username {
      float: left;
      color: #eeeeee;
      font-family: "Catamaran", Sans-Serif; }
    #topnav #login a #pfp {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 360px;
      box-shadow: 0 0 20px black; }
    @media only screen and (max-width: 630px) {
      #topnav #login {
        display: none; } }
  #topnav #dropdown-button {
    position: absolute;
    bottom: -2.5em;
    height: inherit;
    color: #202020;
    z-index: 9; }
    #topnav #dropdown-button .dropdown-bg {
      transition: 0.1s;
      z-index: 8; }
      #topnav #dropdown-button .dropdown-bg g {
        transition: 0.1s;
        color: #eeeeeeb3; }

body {
  background: #202020;
  margin: 0;
  height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

body main {
  display: flex; }
  body main #posts {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #ff00ff;
    max-width: 110rem; }
  body main #editor {
    width: 100%;
    color: #eeeeee;
    font-family: "Merriweather Sans", sans-serif;
    outline: none; }
    body main #editor .pell-content {
      padding: 0 1rem;
      min-height: 10rem;
      outline: none; }
    body main #editor .pell-actionbar {
      display: flex;
      background: #202020;
      margin-bottom: 1rem;
      height: 3rem; }
      body main #editor .pell-actionbar .pell-button {
        flex: 1 1 0px;
        background: none;
        border: none;
        color: #eeeeee; }
        body main #editor .pell-actionbar .pell-button:hover {
          transform: scale(1.1); }
  body main .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center; }
    body main .sidebar #top {
      font-family: "Catamaran", Sans-Serif; }
      body main .sidebar #top a {
        text-decoration: none;
        color: #eeeeee; }
      body main .sidebar #top ol {
        margin: 0;
        padding: 0 1rem; }
      body main .sidebar #top li {
        color: #eeeeee; }
        body main .sidebar #top li .entry {
          display: inline-flex;
          vertical-align: middle;
          align-items: center;
          gap: 1rem;
          padding: 0.5rem;
          width: 100%; }
          body main .sidebar #top li .entry img {
            width: 3rem;
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 360px; }
          body main .sidebar #top li .entry .name {
            flex: 1; }
          body main .sidebar #top li .entry .count {
            float: left; }
    body main .sidebar .panel {
      display: flex;
      flex-direction: column;
      background: #313131;
      border-radius: 0.5rem;
      box-shadow: 0 0 20px 5px black;
      color: #eeeeeeb3; }
      body main .sidebar .panel .section {
        padding: 1rem; }
        body main .sidebar .panel .section:not(:first-child) {
          border-top: 1px solid #202020; }
        body main .sidebar .panel .section h2 {
          font-family: "Catamaran", Sans-Serif;
          text-align: center;
          margin: 0; }
        body main .sidebar .panel .section p {
          margin: 0;
          font-family: "Merriweather Sans", sans-serif; }
      body main .sidebar .panel #info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; }
        body main .sidebar .panel #info #icon {
          height: 5rem;
          width: 5rem;
          object-fit: cover;
          border-radius: 360px;
          border: 0.5rem solid #202020; }
      body main .sidebar .panel #options a {
        justify-content: center; }
      body main .sidebar .panel #options form {
        display: flex;
        justify-content: center; }
        body main .sidebar .panel #options form input {
          border: none;
          width: 100%;
          background: none; }
  @media only screen and (min-width: 1024px) {
    body main .sidebar {
      max-width: 20rem;
      width: 100%;
      height: 100%;
      margin: 0 2rem; }
      body main .sidebar .panel {
        width: 20rem;
        position: fixed; } }
  @media only screen and (max-width: 630px), only screen and (min-width: 631px) and (max-width: 1023px) {
    body main {
      flex-direction: column-reverse; } }

.modal {
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  justify-content: center;
  align-items: center;
  display: none;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100vw;
  height: 100vh; }
  .modal.active {
    z-index: 10;
    display: flex; }
  .modal.active ~ div {
    overflow: hidden;
    filter: blur(10px);
    transition: 0.5s; }

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0; }
  .spinner .dot {
    width: 10px;
    height: 10px;
    margin: 0 2px;
    display: inline-block;
    border-radius: 50%;
    animation: loader-scale 1.4s infinite ease-in-out both;
    background: #525252; }
  .spinner .dot:nth-child(2) {
    animation-delay: 0.16s; }
  .spinner .dot:nth-child(3) {
    animation-delay: 0.32s; }

@keyframes loader-scale {
  0%,
  80%,
  100% {
    transform: scale(1); }
  40% {
    transform: scale(0); } }

@keyframes scale-up {
  100% {
    transform: scaleY(1); }
  0% {
    transform: scale(0); } }
