.button {
  font-family: "Catamaran", Sans-Serif;
  color: #eeeeeeb3;
  border-radius: 0.5rem;
  transition: 0.1s;
  text-decoration: none;
  height: inherit;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: medium;
  justify-content: center; }
  .button:hover {
    color: #eeeeee;
    transform: scale(1.1); }

.main-button {
  background: linear-gradient(45deg, #4670c2, #6cdbc3);
  color: #eeeeee;
  padding: 0 0.5rem; }
  .main-button:hover {
    box-shadow: 0 0 5px #4670c2; }

.unselectable {
  user-select: none; }

.tile {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 60rem; }
  .tile .header {
    display: flex; }
    .tile .header .data {
      border-radius: 0.5rem 2px 2px 0.5rem;
      background-color: #313131;
      flex: 1;
      padding: 1rem; }
      .tile .header .data .info {
        display: flex;
        gap: 1rem;
        color: #eeeeee;
        font-family: "Catamaran", Sans-Serif;
        border-bottom: 1px solid #202020; }
        .tile .header .data .info .pfp {
          height: 3rem;
          aspect-ratio: 1;
          object-fit: cover;
          border-radius: 360px;
          box-shadow: 0 0 20px black; }
      .tile .header .data .text {
        color: #eeeeeeb3;
        font-family: "Merriweather Sans", sans-serif;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        white-space: normal; }
    .tile .header .options {
      background-color: #313131;
      border-radius: 2px 0.5rem 0.5rem 2px;
      padding: 1rem;
      margin-left: 1px;
      float: right;
      display: flex;
      flex-direction: column; }
      .tile .header .options svg {
        height: 2rem; }
  .tile img {
    object-fit: cover;
    max-height: 30rem; }
