<!DOCTYPE html>
<html lang="en">

<head>
	<% include!("./header.html"); %>
		<!-- custom -->
		<title>Aurora Board </title>
		<link rel="stylesheet" href="/css/home.css" />
		<!-- <script src="/home.js" defer></script> -->
		<script src="/sidebars.js" defer></script>
		<script src="/like.js" defer></script>
</head>

<body>
	<% include!("./navbar.html"); %>
		<main id="content" class="">
			<aside id="sidebar-left" class="sidebar">
				<% include!("./leftside.html"); %>
			</aside>
			<div id="posts" data-cur-page="posts">
				<div class="page">
					<div class="post">
						<div class="header">
							<div class="data">
								<a class="info" href=<%=format!("\"/users/{}\"",
									post.poster_id) %>>
									<img class="pfp" src=<%=post.poster_pfp%> alt="">
									<p class="title">
										<%= post.title %>
									</p>
									<p class="time">
										<%= super::post::time_msg(post.created_at)%>
									</p>
								</a>
								<div class="text">
									<pre><%= post.text %></pre>
								</div>
							</div>
							<div class=<%=format!("\" options {}\"" , match status {Some(true)=> "liked",Some(false) =>
								"disliked",_ => ""})%>
								>
								<form action=<%=format!("\"/posts/{}/like\"" ,post.id)%> method="post" class="hover"
									onsubmit="like(event,this.parentElement)">
									<label>
										<input type="submit">
										<svg class="like" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
											stroke-linecap="round" stroke-linejoin="round"
											class="feather feather-thumbs-up">
											<path
												d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3">
											</path>
										</svg>
									</label>
								</form>
								<form action=<%=format!("\"/posts/{}/dislike\"", post.id)%> method="post" class="hover"
									onsubmit="dislike(event,this.parentElement)">
									<label>
										<input type="submit">
										<svg class="dislike" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
											stroke-linecap="round" stroke-linejoin="round"
											class="feather feather-thumbs-down">
											<path
												d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17">
											</path>
										</svg>
									</label>
								</form>

							</div>

						</div>
					</div>
				</div>
				<% include!("./loading.html");%>
			</div>
			<aside id="sidebar-right" class="sidebar">
			</aside>
		</main>
</body>

</html>