<div class="header">
	<div class="data">
		<a class="info" href=<%=format!("\"/boards/{}/topics/{}\"",board.name, post.id ) %> >
			<img class="pfp" src=<%=post.pfp%> alt="">
			<p class="title">
				<%= post.title %>
			</p>
			<p class="time">
				<%= super::post::time_msg(post.created_at)%>
			</p>
		</a>
		<div class="text">
			<pre>
			    <%= post.text %>
			  </pre>
		</div>
	</div>
	<div class=<%=format!("\" options {}\"" , match post.status {Some(1)=> "liked",Some(0) => "disliked",_ => ""})%> >
		<a class="hover comments"  href=<%=format!("\"/boards/{}/topics/{}\"",board.name, post.id ) %>>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				class="feather feather-message-square">
				<path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
			</svg>
		</a>
		<form class="like-form hover" action=<%=format!("\"/topics/{}/like\"" ,post.id)%> method="post"
			onsubmit="like(event,this.parentElement)">
			<label>
				<input type="submit">
				<svg class="like" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
					fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
					class="feather feather-thumbs-up">
					<path
						d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3">
					</path>
				</svg>
			</label>
		</form>
		<form action=<%=format!("\"/topics/{}/dislike\"", post.id)%> method="post" class="hover"
			onsubmit="dislike(event,this.parentElement)">
			<label>
				<input type="submit">
				<svg class="dislike" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
					fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
					class="feather feather-thumbs-down">
					<path
						d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17">
					</path>
				</svg>
			</label>
		</form>

	</div>
</div>